<div class="bar">
  <section class="top-bar">
    <a href="signup" class="options">Sign up</a>
    <a href="login" class="options">Login</a>
    <a href="/" class="options home" style>Home</a>
  </section>
</div>
<div class="filler"></div>
<section class="form">
  <h1 class="form-title">Login</h1>
  <form class="form-fields" action="map" method="get">
    <label for="email">Email</label><br />
    <input type="text" class="field" id="email" name="email" /><br />
    <label for="password">Password</label><br />
    <input type="text" class="field" id="password" name="password" /><br />
    <input class="button" type="submit" value="Login" />
  </form>
</section>
