<div class="bar">
  <section class="top-bar">
    <a href="signup" class="options">Sign up</a>
    <a href="login" class="options">Login</a>
  </section>
</div>
<div class="filler"></div>
<section class="logo-container">
  <img class="logo" src="img/chair.png" alt="Unable to load logo" />
</section>
<section class="description-container">
  <p class="description">Helping you find a revision space</p>
</section>
