<div class="bar">
  <section class="top-bar">
    <a href="login" class="options">Account</a>
    <a href="/" class="options">Logout</a>
    <a href="/" class="options home" style>Home</a>
  </section>
</div>
<div class="filler"></div>
<div class="building-menu">
  <a href="rooms.html" class="building-text">MVB</a>
  <a href="rooms.html" class="building-text">ASS</a>
  <a href="rooms.html" class="building-text">Queens</a>
  <a href="rooms.html" class="building-text">Wills</a>
  <a href="rooms.html" class="building-text">Biomedical Sciences</a>
</div>
<div class="map-container">
  <div class="map">
    <iframe
      src="https://www.google.com/maps/d/u/0/embed?mid=1NFYkNibOCYzn3lLbWRwL8Gd_CIbteHsu"
      width="90%"
      height="600"
    ></iframe>
  </div>
</div>
