<div class="bar">
  <section class="top-bar">
    <a href="signup.html" class="options">Account</a>
    <a href="login.html" class="options">Logout</a>
    <a href="index.html" class="options home" style>Home</a>
    <a href="buildings.html" class="options home" style>View map</a>
    <a href="rooms.html" class="options home" style>View rooms</a>
  </section>
</div>
<div class="filler"></div>
<div class="map-container">
  <div class="chair-container">
    <!-- <article class="table-group">
      <div class="chair-group">
        <div class="chair"></div>
        <div class="chair bottom"></div>
      </div>
      <div class="table"></div>
      <div class="chair-group">
        <div class="chair"></div>
        <button
          onclick="makeBooking()"
          class="chair bottom green book book_hover"
        ></button>
      </div>
    </article> -->
    <!-- <article class="table-group">
    <div class="chair-group">
      <div class="chair"></div>
      <div class="chair bottom"></div>
    </div>
    <div class="table"></div>
    <div class="chair-group">
      <div class="chair"></div>
      <div class="chair bottom"></div>
    </div>
  </article> -->
  </div>
</div>
