<div class="bar">
  <section class="top-bar">
    <a href="signup.html" class="options">Account</a>
    <a href="login.html" class="options">Logout</a>
    <a href="index.html" class="options home" style>Home</a>
    <a href="buildings.html" class="options home" style>View map</a>
  </section>
</div>
<div class="filler"></div>
<div class="room-menu">
  <a href="rooms.html" class="building-select">- MVB</a>
  <a href="rooms.html" class="building-text">ASS</a>
  <a href="rooms.html" class="building-text">Queens</a>
  <a href="rooms.html" class="building-text">Wills</a>
  <a href="rooms.html" class="building-text">Biomedical Sciences</a>
</div>
<div class="map-container">
  <div class="room-button" data-id="1">
    <div class="room-container green">
      <p class="room">Lab 1.1</p>
      <p class="capacity">Available Chairs: 50</p>
    </div>
  </div>
  <div>
    <div class="room-container green">
      <p class="room">Lab 1.13</p>
      <p class="capacity">Available Chairs: 82</p>
    </div>
  </div>
  <div href="chairs">
    <div class="room-container amber">
      <p class="room">Lab 2.1</p>
      <p class="capacity">Available Chairs: 6</p>
    </div>
  </div>
  <div href="chairs">
    <div class="room-container red">
      <p class="room">Lab 2.13</p>
      <p class="capacity">Available Chairs: 0</p>
    </div>
  </div>
  <div href="chairs">
    <div class="room-container green">
      <p class="room">Lab 3.1</p>
      <p class="capacity">Available Chairs: 69</p>
    </div>
  </div>
</div>
<div class="room-overlay">
  <div class="close-room">
    <i class="fas fa-window-close alter"></i>
  </div>
  <div class="chair-container"></div>
</div>
