<div class="bar">
  <section class="top-bar">
    <a href="signup" class="options">Sign up</a>
    <a href="login" class="options">Login</a>
    <a href="/" class="options home" style>Home</a>
  </section>
</div>
<div class="filler"></div>

<section class="form">
  <h1 class="form-title">Sign up</h1>
  <form class="form-fields" action="map" method="get">
    <label for="fname">First name</label><br />
    <input type="text" class="field" id="fname" name="fname" /><br />
    <label for="lname">Last name</label><br />
    <input type="text" class="field" id="lname" name="lname" /><br />
    <label for="email">Email</label><br />
    <input type="text" class="field" id="email" name="email" /><br />
    <label for="password">Password</label><br />
    <input type="text" class="field" id="password" name="password" /><br />
    <label for="confirm">Confirm password</label><br />
    <input type="text" class="field" id="confirm" name="confirm" /><br />
    <input class="button" type="submit" value="Submit" />
  </form>
</section>
